@media only screen and (min-width:50em){/* Large css */
/* body */
/* nav */
    nav button{
        display:none;
    }
    nav ul{
        display: inline-block;
    }
    nav li{
        display: inline-block;
    }
/* main */
/* home page grid */
    .grid1{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        column-gap: 10px;
    }
/* Reservations page */
/* temple page */
/* services page */
/* contacts */
/* map */

 
}