@media only screen and (min-width:50em){/* Large css */
/* body */
/* nav */
    nav button{
        display:none;
    }
    nav ul{
        display: inline-block;
    }
    nav li{
        display: inline-block;
    }
/* main */
/* home page grid */
/* temple page*/
/* contacts */
/* map */


}