/* color scheme #1BE7FF sky blue 
                #95F0A4 pale green 
                #E6FF2E Daffodil 
                #B5FFE1 Areo Blue
                #93E5AB Teal Deer      */
/* main page styling */
body{
    font-family: 'Sumana', serif; 
    display:block;
}
.title{
    text-align: center;
}
/* Header styling */
header{
    font-family: 'Sumana', serif;    
    background-color: #93E5AB;
    text-align: center;
    color: #E6FF2E;
    width:100%;
    justify-content:center;
    display:flex;  
}
header>img{
    width:13vw;
    height:auto;
    align-self:center;
    padding:0 10px 0 0;
}
.headertext{
    font-family: 'Sumana', serif;
    display: inline-block;
    justify-content:space-around;
}
.headertext h1{
    font-family: 'Sumana', serif;
    font-size:5vw;
    color: #E6FF2E;
}
.outlinetext { /* outlines text */
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.subheading{
    font-family: "Sumana", serif;
    font-size: 3vw;
    color: #E6FF2E
}

/* Navigation styling*/
nav{
    width: 100%; 
    display:flex;
    background-color: #B5FFE1;
    text-align:center;
    margin-left:0;
    margin-right:0;
    justify-content:space-between;
}
nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align:center;
    
}  
nav li {
    text-align: center;

}
nav li a{
    display:block;
    text-align:center;
    text-decoration: none;
    color:black;   
}
nav ul li a {
    border:none;
    padding:.6rem 1rem;
    Font-size: 2vw;
}
nav ul li.active a{ 
    background-color:#95F0A4; color:#000;
}
nav ul li a:hover{
    color:white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
nav ul.hide {display:block;}


/* ------------Footer styling ------------*/
footer {
    background-color: #93E5AB;
    height:50px;
    text-align:center;
    font-size:1.3vw;
}
/* ---- Temple page ----- */
.latemp{
    background-color:#1BE7FF;
    border: 1px solid #000;
}
.redlandstemp {
    background-color: #95F0A4;
    border: 1px solid #000;
}
.newporttemp{
    background-color: #1BE7FF;
    border: 1px solid #000;
}
.sdtemp{
    background-color: #95F0A4;
    border: 1px solid #000;
}
/*  clearfix to keep container from colapsing*/
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}