/* color scheme #1BE7FF sky blue 
                #95F0A4 pale green 
                #E6FF2E Daffodil 
                #B5FFE1 Areo Blue
                #93E5AB Teal Deer      */
/* main page styling */
body{
    font-family: 'Sumana', serif; 
    display:block;
    margin: auto;
}
.title{
    text-align: center;
}
/* Header styling */
header{
    font-family: 'Sumana', serif;    
    background-color: #93E5AB;
    text-align: center;
    color: rgb(245, 255, 166);
    width:100%;
    justify-content:center;
    display:flex;  
}
header>img{
    width:13vw;
    height:auto;
    align-self:center;
    padding:0 10px 0 0;
}
.headertext{
    font-family: 'Sumana', serif;
    display: inline-block;
    justify-content:space-around;
}
.headertext h1{
    font-family: 'Sumana', serif;
    font-size:5vw;
    color: rgb(245, 255, 166);
}
.outlinetext { /* outlines text */
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.subheading{
    font-family: "Sumana", serif;
    font-size: 3vw;
    color: rgb(245, 255, 166)
}

/* Navigation styling*/
nav{
    width: 100%; 
    display:flex;
    background-color: #B5FFE1;
    text-align:center;
    margin-left:0;
    margin-right:0;
    justify-content:space-between;
}
nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align:center;
    
}  
nav li {
    text-align: center;

}
nav li a{
    display:block;
    text-align:center;
    text-decoration: none;
    color:black;   
}
nav ul li a {
    border:none;
    padding:.6rem 1rem;
    Font-size: 2vw;
}
nav ul li.active a{ 
    background-color:#95F0A4; color:#000;
}
nav ul li a:hover{
    color:white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
nav ul.hide {display:block;}


/* ------------Footer styling ------------*/
footer {
    background-color: #93E5AB;
    height:50px;
    text-align:center;
    font-size:1.3vw;
}
/* ---- Temple page ----- */
.latemp{
    background-color:#1BE7FF;
    border: 1px solid #000;
}
.redlandstemp {
    background-color: #95F0A4;
    border: 1px solid #000;
}
.newporttemp{
    background-color: #1BE7FF;
    border: 1px solid #000;
}
.sdtemp{
    background-color: #95F0A4;
    border: 1px solid #000;
}
.tempinfo{
    position: relative;
}
.infopic{
    position: absolute;
    width: 30vw;
    right: 10px;
    top: 30px;
    z-index:1;

}

/*   -----  Reservations page  --------  */
form {
    margin-left: 5%;

}
form label.top input, form label.top select{
    -webkit-apprearance:none;
    display:block;
    font-size:1rem;
    border:solid 1px #999;
    border-radius:5px;
    padding:.75rem; 
    color:#555;
    width:100%;
    max-width:20rem;
    background-color: rgba(0,0,0,0.1); 
}
form input.submitBtn{
    border:2px solid #000;
    background-color:#95F0A4;
    color: #000;
    border-radius: 5px;
    padding:.75rem 1.5rem;
    margin:0 0 2rem 8%;
    width:96%;
    max-width:20rem;
}
form label.top input:required{
    border: red solid 3px;
}

form label.top input:required:valid{
    border:green solid 3px;
}

/*------ Contacts -------*/
.contactpic {
    display: block;
    float: right;
    width:45vw;
}
.contactinfo{
    display:block;
    margin:0 0 0 5%;
    text-align: left;
}
.map{
    width:50vw;
    border: 2px #1BE7FF;
    margin-left: 5%;
}
/*------ index page --------*/
.resBtn{
    border:2px solid #000;
    background-color:#95F0A4;
    color: #000;
    border-radius: 5px;
    padding:.75rem 1.5rem;
    margin:0 0 2rem 8%;
    width:96%;
    max-width:20rem;
}
/*------Grid------*/
.grid1{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    margin: 2%;

}
/*  clearfix to keep container from colapsing*/
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}